/* src/styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* We let App.tsx control background and layout */
}

canvas {
  border-radius: 10px;
  background: #222;
  transition: background 0.3s;
}
